<!--
 * Reza Saker Hossain
 * Gagandeep Singh
 * Niranjan Bikram Shah
-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Reza H., Gagandeep S., Niaranjan S.">

    {% block title %}
        <title>UW Campus Food Ordering</title>
    {% endblock %}

    <style>
        * {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            box-sizing: border-box;
        }
        #header {
            padding: 10px;
            padding-left: 25px;
            padding-right: 25px;
            background-color: forestgreen;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        #sitename a {
            font-size: 24px; 
            margin: 0;
            color: white;
            text-decoration: none;
        }
        #menu_btns a {
            display: inline-block;
            color: white;
            text-decoration: none;
            margin-left: 15px;
            margin-top: 5px;
        }
        #menu_btns a:hover {
            font-weight: bold;
        }
        #footer {
            background-color: dimgray;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
            margin-top: 20px;
        }
        #footer p, #footer a {
            padding: 5px;
            margin: 0;
            color: white;
        }
        #footer a {
            text-decoration: underline;
        }
        #footer a:hover {
            color: royalblue;
        }
        {% block style %} {% endblock %}
    </style>
</head>

<body>
    {% block header %}
        <div id="header">
            <div id="sitename">
                <a href="/">UWCFOS</a>
            </div>
            <div id="menu_btns">
                <a href="/instafood">InstaFood</a>
                <a href="#" onclick="logout()">Log out</a>
            </div>
        </div>
    {% endblock %}

    <div id="main">
        {% block main_body %}
            <h1> Default body </h1>
        {% endblock %}
    </div>

    {% block footer %}
        <div id="footer">
            <p>&copy; All Rights Reserved.</p>
            <a href="/public/credits.html">Credits and Acknowledgement</a>
        </div>
    {% endblock %}
</body>
</html>

<script>
    window.onload = () => {
        let docHeight = main.clientHeight + 200;
        
        if (innerHeight < docHeight) {
            footer.style.position = 'relative';
        } 
    }
    document.addEventListener("DOMContentLoaded", function () {
        if(localStorage.getItem("orderId")) {
            const a = document.createElement("a");
            a.href = "/order/" + localStorage.getItem("orderId") + "/track";
            a.textContent = "Track Order";
            a.style.fontSize = "16px";
            document.getElementById("menu_btns").appendChild(a);
        }
    })
    function logout() {
        localStorage.clear();
        window.location.replace("/user/logout");
    }
    {% block script %}  {% endblock %}
</script>

