<!DOCTYPE html>
<html>
<head>
    {% block title %}
        <title>UWinnipeg Campus Food Ordering</title>
    {% endblock %}

    <style>
        {% block style %}
        {% endblock %}
    </style>
</head>

<body>
    {% block main_body %}
        <h1> Default body </h1>
    {% endblock %}
</body>
</html>