{% extends 'layouts/main_layout.njk' %}

{% block main_body %}
    <div id="cafe_info">
        <h3>{{ cafe.name }}</h3>
        <p>Location: {{ cafe.location }}</p>
        <p>Open: {{ cafe.daysOpened + ' ' + cafe.startTime + ' to ' + cafe.closeTime }}</p>
        <p>Description:
            {% if cafe.description.length > 0 %}
                {{ cafe.description }}
            {% else %}
                N/A
            {% endif %}
        </p>
    </div>

    <div id="container">
        <div class="order_container">
            <h3>New Order</h3>
            {% for order in orders %}
                {% if order.status === "Pending" %}
                    <div class="menu_item">
                        <div>
                            <p>Customer name: {{order.customerName}}</p>
                            <p>Order items: </p>
                            {% for item in order.orderItems %}
                                <p>{{ item.name }}</p>
                            {% endfor %}
                            <p>Special Instruction: {{order.instruction}}</p>
                        </div>
                        <div>
                            <a href="#" class="order_accept_btn" onclick="updateOrder('{{ order._id }}', 'Approved')">Accept</a>
                            <button id="order_decline_btn" onclick="updateOrder('{{ order._id }}', 'Declined')">Decline</button>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}    
        </div>
        <div class="order_container">
            <h3>Order In-progress</h3>
                {% for order in orders %}
                    {% if order.status === "Approved" %}
                        <div class="menu_item">
                            <div>
                                <p>Customer name: {{order.customerName}}</p>
                                <p>Order items:
                                {% for item in order.orderItems %}
                                    <p>{{ item.name }}</p>
                                {% endfor %}
                                <p>Instruction: {{order.instruction}}</p>
                            </div>
                        <div>
                        <a href="#" class="order_ready" onclick="updateOrder('{{order._id}}', 'Ready')">Order Ready</a>
                    </div>
                </div>
                    {% endif %}
                {% endfor %}

        </div>
    </div>
{% endblock %}

{% block style %}
    #cafe_info  {
        width: 90%;
        margin: 10px 0 20px 5%;
        border-bottom: 1px solid dimgray;
        padding-bottom: 5px;
    }
    #container {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }
    .order_container {
        width: 40%; 
    }
    .menu_item {
        width: 100%;
        padding: 10px;
        border: 1px solid dimgray;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
    }
    .menu_item a, #order_decline_btn {
        color: forestgreen;
        padding: 5px;
        margin-left: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        display: flex;
        background-color: white;
        border: 1px solid forestgreen;
        text-decoration: none;
        border-radius: 2px;
        text-align: center;
        justify-content: space-between;
    }
    .menu_item a:hover {
        background-color: forestgreen;
        color: white;
    }
    #order_decline_btn {
        border-color: #C3381A;
        color: #C3381A;
        font-size: 16px;
        padding: 5px;
        border-radius: 2px;
    }

    #order_decline_btn:hover {
        background-color: #C3381A;
        color: white;
    }
{% endblock %}

{% block script %}
    function updateOrder(orderId, status) {
        let data = {
            csrf: "{{csrf}}",
            status: status
        };
        fetch("/order/" + orderId + "/update", {
            method: "POST", 
            headers: {
                "Content-type": "application/json"
            },
            body: JSON.stringify(data)
        }).then(response => {
            if(response.status == 200) {
                window.location.reload(true);
            } 
            else {
                alert("Couldn't update order status. PLease try again!");
            }
        });
    }

    const evtSource = new EventSource("/cafe/orderRetriever/{{cafe._id}}");
    evtSource.addEventListener("{{cafe._id}}", (e) => {
        evtSource.close();
        window.location.reload(true);
    });

{% endblock %}
   
