{% extends "layouts/main_layout.njk" %}

{% block main_body %}
    <div id="cafe_info">
        <h3>{{ cafe.name }}</h3>
        <p>Location: {{ cafe.location }}</p>
        {%if cafe.isOpen %}
            <p>Open now: accepting new orders.</p>
        {% else %}
            <p>CLosed now: not accepting new order.</p>
        {% endif %}
        <p>Description:
            {% if cafe.description.length > 0 %}
                {{ cafe.description }}
            {% else %}
                N/A
            {% endif %}
        </p>
    </div>

    <div id="container">
        <h3>Menu</h3>
        {% for item in menuItems %}
            <div class="menu_item">
                <div>
                    <p>{{item.name}} (${{item.price}})</p>
                    {% if item.description.length > 0 %}
                        <p class="item_description">{{ item.description }}</p>
                    {% endif %}
                </div>
                <div>
                    <a href="/menuItem/{{item._id}}/edit" class="item_edit_btn">Edit</a>
                    <button class="item_delete_btn" onclick="onDeleteMenuItemBtnClick('{{ item._id }}', '{{cafe._id }}')">Delete item</button>
                </div>
            </div>
        {% endfor %}

        <div id="cafe_action_btns">
            <a id="item_create_btn" href="/menuItem/create/{{cafe._id}}">Add New Menu Item</a>
            <a id="cafe_edit_btn" href="/cafe/{{ cafe._id }}/edit">Edit Cafe Info</a>
            {% if cafe.isOpen %}
                <button id="start_orders_btn" onclick="onStartOrdersBtnClick('{{cafe._id}}', false)">Stop Taking Orders</button>
            {% else %}
                <button id="start_orders_btn" onclick="onStartOrdersBtnClick('{{cafe._id}}', true)">Start Taking  Orders</button>
            {% endif %}
            <button id="cafe_delete_btn" onclick="onDeleteCafeBtnClick('{{ cafe._id }}')">Delete this Cafe</button>
        </div>
    </div>
{% endblock %}

{% block style %}
    #cafe_info  {
        width: 70%;
        margin: 10px 0 20px 15%;
        border-bottom: 1px solid dimgray;
        padding-bottom: 5px;
    }
    #container {
        width: 70%;
        margin-left: 15%;
        margin-bottom: 50px;
    }
    .menu_item {
        width: 100%;
        padding: 20px;
        border: 1px solid dimgray;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
    }
    .menu_item a {
        color: white;
        padding: 10px 15px 10px 15px;
        margin-left: 10px;
        background-color: royalblue;
        text-decoration: none;
        border-radius: 2px;
    }
    .item_description {
        font-size: 12px;
    }
    a.item_edit_btn, .item_delete_btn {
        background-color: white;
        border: 1px solid royalblue;
        color: royalblue;
    }
    a.item_edit_btn:hover {
        background-color: royalblue;
        color: white;
    }
    .item_delete_btn {
        border-color: #C3381A;
        color: #C3381A;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
    }
    .item_delete_btn:hover {
        background-color: #C3381A;
        color: white;
    }
    #cafe_action_btns {
        margin-top: 50px;
    }
    #item_create_btn, 
    #cafe_edit_btn, 
    #cafe_delete_btn,
    #start_orders_btn {
        color: white;
        background-color: royalblue;
        text-decoration: none;
        padding: 10px;
        border-radius: 2px;
        margin-right: 10px;
        font-size: 16px;
        cursor: pointer;
        border: none
    }
    #cafe_delete_btn {
        border: 1px solid #C3381A;
        color: #C3381A;
        background-color: white;
    }
    #item_create_btn:hover, 
    #cafe_edit_btn:hover{
        background-color: forestgreen;
    }
    #cafe_delete_btn:hover, #start_orders_btn:hover {
        background-color: #C3381A;
        color: white;
    }
{% endblock %}

{% block script %}
    function onDeleteCafeBtnClick(cafeId) {
        let isDeleteConfirmed = confirm("This cafe and all data associated with it will be permanently deleted. " + 
                                        "Are you sure you want to delete this cafe?");
        
        if(isDeleteConfirmed) {
            fetch("/cafe/" + cafeId + "/delete", {
                method: "POST", 
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({csrf: "{{ csrf }}"})
            }).then(response => {
                if(response.status == 200) {
                    window.location.href = "/";
                } 
                else {
                    alert("Sorry, couldn't delete the cafe info. Please try again!");
                }
            });
        }
    }

    function onDeleteMenuItemBtnClick(itemId, cafeId) {
        let isDeleteConfirmed = confirm("This item will be permanently deleted. " + 
                                        "Are you sure you want to delete this item?");
        
        if(isDeleteConfirmed) {
            fetch("/menuItem/" + itemId + "/delete", {
                method: "POST", 
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({csrf: "{{ csrf }}"})
            }).then(response => {
                if(response.status == 200) {
                    window.location.href = "/cafe/" + cafeId;
                } 
                else {
                    alert("Sorry, couldn't delete the item. Please try again!");
                }
            });
        }
    }

    function onStartOrdersBtnClick(cafeId, startOrders) {
        console.log(startOrders);
        fetch("/cafe/" + cafeId + "/startOrders", {
                method: "POST", 
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    csrf: "{{ csrf }}",
                    startOrders: startOrders
                })
            }).then(response => {
                if(response.status == 200) {
                    window.location.href = "/cafe/" + cafeId;
                } 
                else {
                    alert("Something went wrong! Please try again.");
                }
            });
    }
{% endblock %}
   
