{% extends 'layouts/main_layout.njk' %}

{% block main_body %}
    <h2 id="cafe_name">{{ cafeData.name }}</h2>

    <div id="container">
        {% for item in menu_items %}
            <div class="menu_item">
                <div>
                    <p>{{item.name + ' ($' + item.price + ')' }}</p>
                </div>
                <div class="menu_item_btn">
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </div>
            </div>
        {% endfor %}

        <div style="margin-top: 20px">
            <a id="add_btn" href="#">Add New Item</a>
            <a id="edit_btn" href="#">Edit Cafe Info</a>
            <a id="delete_btn" href="#">Delete Cafe</a>
        </div>
    </div>
{% endblock %}

{% block style %}
    #cafe_name  {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #container {
        width: 90%;
        margin-left: 5%;
        text-align: center;
    }

    .menu_item {
        width: 100%;
        padding: 20px;
        background-color: dimgray;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
        margin-bottom: 10px;
    }

    .menu_item a {
        color: white;
        padding: 5px 10px 5px 10px;
        margin-left: 10px;
        background-color: royalblue;
        text-decoration: none;
    }

    #add_btn, #edit_btn, #delete_btn {
        color: white;
        background-color: royalblue;
        text-decoration: none;
        padding: 10px;
    }
    #add_btn:hover, #edit_btn:hover, #delete_btn:hover, .menu_item a:hover {
        opacity: 0.9
    }
{% endblock %}