<!--
 * Reza Saker Hossain
 * Gagandeep Singh
 * Niranjan Bikram Shah
-->

{% extends 'layouts/main_layout.njk' %}

{% block main_body %}
	<h3>Create New Employee</h3>
  	<form method = "POST" action="/employee/insert" id="employee_create_form">
		<input type="hidden" name="_csrf" value="{{ _csrf }}">

		<label for="firstName">First Name</label>     
		<input type="text" name="firstName" required>

        <label for="lastName">Last Name</label>     
		<input type="text" name="lastName" required>

		<label for="email">Email</label>     
		<input type="email" name="email" required>

		<label for="password">Password for the Employee</label>     
		<input type="password" name="password" required>

		<label for="confirm_password">Confirm Employee Password</label>     
		<input type="password" name="confirm_password" required>

        <label for="position">Position</label>     
		<input type="text" name="position" required>

        <label for="Wage">Wage</label>     
		<input type="text" name="wage">

        <label for="workStation">Work Station</label>     
		<select name="workStation" required>
			<option value="ALL_STATIONS">No Specific Work Station</option>
            {% for cafe in cafes %}
                <option value="{{ cafe._id }}">{{ cafe.name }}</option>
            {% endfor %}
        </select>

		<label for="accessLevel">Choose Employee Access Level</label>     
		<select name="accessLevel" required>
            <option value="0">Admin (Can access all features)</option>
			<option value="1">Kitchen Staff (Can only access order page)</option>
        </select>

		<label for="note">Any Additional Note</label>
		<textarea name="note"></textarea>

		<button type="submit" id="employee_create_btn">Save</button>
 	</form>	  
{% endblock %}

{% block style %}
	h3 {
		text-align: center;
		margin-top: 20px;
	}
    #employee_create_form {
		width: 50%;
		padding: 15px;
		background-color: white;
		margin-left: 25%;	
	}
	input, textarea, select {
		width: 100%;
		padding: 15px;
  		margin: 5px 0 20px 0;
		border: none;
 		background: #f1f1f1;
	}
	input:focus, textarea, select {
		background-color: #ddd;
		outline: none;
	}
	#employee_create_btn {
		background-color: royalblue;
		color: white;
		padding: 15px 20px;
		margin-top: 20px ;
 		cursor: pointer;
  		width: 100%;
		border: none;
		font-size: 16px;
	}
	#employee_create_btn:hover {
 		background-color: forestgreen
	}
{% endblock %}





