<!--
 * Reza Saker Hossain
 * Gagandeep Singh
 * Niranjan Bikram Shah
-->

{% extends 'layouts/main_layout.njk' %}

{% block main_body %}
	<h3>Edit Employee</h3>
  	<form method = "POST" action="{{ '/employee/' + employee._id + '/edit' }}" id="employee_create_form">
		<label for="firstName">First Name</label>     
		<input type="text" name="firstName" value="{{ employee.firstName }}" required>

        <label for="lastName">Last Name</label>     
		<input type="text" name="lastName" value="{{ employee.lastName }}" required>

        <label for="position">Position</label>     
		<input type="text" name="position" value="{{ employee.position }}" required>

        <label for="Wage">Wage</label>     
		<input type="text" name="wage" value="{{ employee.wage }}">

        <label for="cafe_id">Work Station</label>     
		<select name="cafe_id" required>
			<option value="AAA"
				{% if employee.cafe_id == "AAA" %}
					selected
				{% endif %}
			>No Specific Work Station</option>
            {% for cafe in cafeList %}
                <option value="{{ cafe._id }}"
					{% if cafe._id == employee.cafe_id %}
						selected
					{% endif %}
				>{{ cafe.name }}</option>
            {% endfor %}
        </select>

		<label for="user_level">Choose Employee Access Level</label>     
		<select name="user_level" required>
            <option value="0"
				{% if employee.user_level == 0 %}
					selected
				{% endif %}
			>Admin (Can access all features)</option>
			<option value="1"
				{% if employee.user_level == 1 %}
					selected
				{% endif %}
			>Kitchen Staff (Can only access order page)</option>
        </select>

		<label for="note">Any Additional Note</label>
		<textarea name="note" value="{{ employee.note }}">{{ employee.note }}</textarea>

		<button type="submit" id="employee_create_btn">Save</button>
 	</form>	  
{% endblock %}

{% block style %}
	h3 {
		text-align: center;
		margin-top: 20px;
	}
    #employee_create_form {
		width: 50%;
		padding: 15px;
		background-color: white;
		margin-left: 25%;	
	}
	input[type="text"], textarea, select {
		width: 100%;
		padding: 15px;
  		margin: 5px 0 20px 0;
		border: none;
 		background: #f1f1f1;
	}
	input[type="text"]:focus, textarea, select {
		background-color: #ddd;
		outline: none;
	}
	#employee_create_btn {
		background-color: royalblue;
		color: white;
		padding: 15px 20px;
		margin-top: 20px ;
 		cursor: pointer;
  		width: 100%;
		border: none;
		font-size: 16px;
	}
	#employee_create_btn:hover {
 		background-color: forestgreen
	}
{% endblock %}





