<!--
 * Reza Saker Hossain
 * Gagandeep Singh
 * Niranjan Bikram Shah
-->

{% extends 'layouts/main_layout.njk' %}

{% block main_body %}
    <p>{{username}}</p>
    <p>List of All Campus Cafeterias</p>

    <div id="container">
        {% for cafe in cafeList %}
            <a class="cafe_box" href="#" onclick="openCafePage('{{cafe._id}}')">
                <span class="cafe_name">{{ cafe.name }}</span>
                <span class="cafe_hours">{{ 'Open ' + cafe.daysOpened + ' ' + cafe.startTime + ' to ' + cafe.closeTime }}</span>
            </a>
        {% endfor %}

        {% if userLevel == 0 %}
            <h3>Admin Settings</h3>
            <a class="create_cafe_box" href="/cafe/create">Create New Cafeteria</a>
            <a class="create_employee_box" href="/employee/create">Create an Employee Account</a>
            <a class="employee_list_box" href="/employee">View Employee List</a>
        {% endif %}
    </div>
{% endblock %}

{% block style %}
    p {
        text-align: center;
        margin: 20px 0 20px 0;
    }
    a {
        text-align: center;
        text-decoration: none;
        color: black;
    }
    h3 {
        margin-top: 40px;
        margin-bottom: 10px;
        border-bottom: 1px solid gray;
    }
    #container {
        width: 60%;
        margin-left: 20%;
    }
    .cafe_box, .create_cafe_box, .create_employee_box, .employee_list_box {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid dimgray;
        border-radius: 5px;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .create_cafe_box, .create_employee_box, .employee_list_box {
        justify-content: center;
        font-weight: bold;
    }
    .cafe_box:hover, 
    .create_cafe_box:hover,
    .create_employee_box:hover,
    .employee_list_box:hover {
        background-color: royalblue;
        color: white;
    } 
    .cafe_name {
        font-weight: bold;
    }
    .create-cafe {
        text-align: center;
    }
{% endblock %}

{% block script %}
    function openCafePage(cafeId) {
        if(localStorage.getItem('draftOrderCafeId') == null) {
            window.location.href = "/cafe/" + cafeId;
        }
        else {
            const draftOrderCafeId = localStorage.getItem('draftOrderCafeId');
            if(draftOrderCafeId == cafeId) {
                window.location.href = "/cafe/" + cafeId;
            }
            else {
                let isConfirmed = confirm('You have saved order in another cafe. ' +
                                  'Are you sure you want to discard your current order and start a new order?');
                if(isConfirmed) {
                    localStorage.clear();
                    window.location.href = "/cafe/" + cafeId;
                }
            }
        }
    }
{% endblock %}