<!--
 * Reza Saker Hossain
 * Gagandeep Singh
 * Niranjan Bikram Shah
-->

{% extends 'layouts/main_layout.njk' %}

{% block main_body %}
    <p>Choose A Cafeteria to Start Ordering</p>

    <div id="container">
        {% for cafe in cafeList %}
            <a class="cafe_box" href="{{ '/cafe/' + cafe._id }}">
                <span class="cafe_name">{{ cafe.name }}</span>
                <span class="cafe_hours">{{ 'Open ' + cafe.daysOpened + ' ' + cafe.startTime + ' to ' + cafe.closeTime }}</span>
            </a>
        {% endfor %}

        {% if userLevel == 0 %}
            <a class="create_cafe_box" href="/createCafe">Create New Cafeteria</a>
            <a class="create_employee_box" href="/createEmployee">Create an Employee Account</a>
            <a class="create_employee_box" href="/employeesList">Employees List</a>
        {% endif %}
    </div>
{% endblock %}

{% block style %}
    p {
        text-align: center;
        margin: 20px 0 20px 0;
    }

    a {
        text-align: center;
        text-decoration: none;
        color: black;
    }

    #container {
        width: 60%;
        margin-left: 20%;
    }

    .cafe_box, .create_cafe_box, .create_employee_box {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid dimgray;
        border-radius: 5px;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .create_cafe_box, .create_employee_box {
        justify-content: center;
        font-weight: bold;
    }

    .cafe_box:hover, 
    .create_cafe_box:hover,
    .create_employee_box:hover {
        background-color: royalblue;
        color: white;
    }
    
    .cafe_name {
        font-weight: bold;
    }

    .create-cafe {
        text-align: center;
    }
{% endblock %}