{% extends 'layouts/main_layout.njk' %}

{% block main_body %}
    <p>Welcome {{ username }} </br>
    Below is the list of campus cafeterias</p>

    <div id="container">
        {% for cafe in cafelist %}
            <a class="cafe_box" href="{{ '/cafe/' + cafe.id }}">{{cafe.Cafe}}</a>
        {% endfor %}
    </div>
    <a href="new_Restaurant.njk"><button id="addBtn">+ Add New Restaurant</button><a/>
{% endblock %}

{% block style %}
    p { 
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: white;
    }

    #container {
        width: 90%;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .cafe_box {
        width: 30%;
        height: 100px;
        margin-bottom: 20px;
        background-color: green;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        font-size: 24px
    }

    .cafe_box:hover {
        background-color: forestgreen;
    }
    
    #addBtn{
        background-color: forestgreen; 
        border: none;
        color: white;
        padding: 5px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        border-radius: 5px;
        margin-bottom: 5px;
    }

     #addBtn:hover{
        opacity: 0.8;
    }
{% endblock %}