<!--
 * Reza Saker Hossain
 * Gagandeep Singh
 * Niranjan Bikram Shah
-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <style>
        #signup_form {
		    width: 30%;
		    padding: 15px;
		    background-color: white;
		    margin-left: 750px;	
            margin-top: 20px;
            position: absolute;
            opacity: 0.9;
            border-radius: 10px;
	    }
        input[type=text], input[type=password] {
		    width: 92%;
		    padding: 15px;
  		    margin: 5px 0 15px 0 ;
		    border: none;
 		    background: #f1f1f1;
            border-radius: 5px;
	    }
	    input[type=text]:focus, input[type=password]:focus {
		    background-color: #ddd;
		    outline: none;
	    }
        #signUp_btn {
            background-color: darkmagenta;
            color: white;
            border-radius: 10px;
            border-style: hidden;
            width: 100%;
		    padding: 15px; 
            opacity: 0.9;
        }
        #signUp_btn:hover{
            opacity: 1;
        }
        h3{
            margin-top: 5px;
        }
        body, html {
            height: 100%;
        }
        #bg_img {
            /* The image used */
            background-image: url("../public/signup.jpg");	
  		    /* Full height */
            height: 100%;

            /* Center and scale the image nicely */ 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        p{
            margin-top: auto;
            text-align: right; 
        }
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            color: red;
        }
        .error_msg {
            color: red;
            margin: 5px 0 5px 0;
            text-align: left
	    }
    </style>
</head>

<body>
    <div id="bg_img">      
        <form id="signup_form" >
            <h3>SIGN UP</h3>
            <p class="error_msg"></p>
            <input type="hidden" name="csrf" value="{{csrf}}">

            <label for="firstName">First Name</label>     
            <input type="text" name="firstName" id="firstName" required>

            <label for="lastName">Last Name</label>     
            <input type="text" name="lastName" id="lastName" required>

            <label for="email">Email</label>     
            <input type="text" name="email" id="email" required>

            <label for="password">Password</label>     
            <input type="password" name="password" id="password" required>

            <label for="confirmPassword">Confirm Password</label>     
            <input type="password" name="confirmPassword" id="confirmPassword" required>

            <button type="submit" id="signUp_btn">SIGN UP</button>      
        </form>
    </div>
</body>
</html>

<script>
    signup_form.addEventListener('submit', signup);

    function signup(e) {
        e.preventDefault();
        const formData = new FormData(e.target);
        const plainFormData = Object.fromEntries(formData.entries());
	    const formDataJsonString = JSON.stringify(plainFormData);
        if(password.value == confirmPassword.value) {
            fetch('/user/signup',  {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: formDataJsonString,

            }).then(response => {
                if(response.status == 200) {
                    window.location.href = '/user/login';
                }
                else {
                    response.json().then(error => {
                        document.getElementsByClassName("error_msg")[0].textContent = error.message;
                    });
                }
            });
        }
        else {
            document.getElementsByClassName("error_msg")[0].textContent = "Password doesn't match!";
        }
    } 
</script>
